#project-detail {
    .list-group-item {
        margin-bottom: 5px !important;
        border-top-width: 1px;
        border-radius: 5px;
        &.active {
            border-radius: 5px;
        }
        .timer-icon {
            display: none;
            cursor: pointer;
            float: right;
        }
        &:hover {
            background-color: #efefef;
            .timer-icon {
                display: block;
            }
        }
    }
}